"Frame Ninja/.vs/Frame Ninja/v16/.suo"
"Frame Ninja/bin/Debug/Frame Ninja.exe"
"Frame Ninja/bin/Debug/Frame Ninja.pdb"
"Frame Ninja/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache"
"Frame Ninja/obj/Debug/Frame Ninja.csproj.FileListAbsolute.txt"
"Frame Ninja/obj/Debug/Frame Ninja.csproj.GenerateResource.cache"
"Frame Ninja/obj/Debug/Frame Ninja.exe"
"Frame Ninja/obj/Debug/Frame Ninja.pdb"